<% i=0 %>
<div>
    <%= form_tag(take_lesson_path) do %>
    <% @lesson.questions.each do|q|%>
        <div>
            <%= q.qText %>
            <%= radio_button_tag(i, "True") %>True
            <%= radio_button_tag(i, "False") %>False
        </div>
        <%
            i+= 1
            end
        %>
        <%= submit_tag("Done") %>
    <% end %>
</div>
